* {
    box-sizing: border-box;
    margin: 0;
}

.all {
    margin-top: 10px;
}

table {
    margin-top: 30px;
}

button:hover {
    background-color: rgba(0, 0, 255, 0.705);
    color: white;
}
button {
    cursor: pointer;
}
form {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1189px) {
    * {
        box-sizing: border-box;
        margin: 0;
    }
    body {
        padding: 20px;
        width: 100%;
    }
    form {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    input {
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
    #nom, #postnom, #prenom, #pays, #genre, #git {
        margin-bottom: 10px;
    }
    .title {
        font-size: 20px;
    }
    
    th {
        padding: 15px;
        font-size: 12px;
    }
    td {
        font-size: 15px;
    }
    #bntAction {
        display: flex;
        flex-direction: column;
    }
    button {
        width: 15%;
        margin-right: 30px;
    }
    
   
    #btn1, #btn2 {
        font-size: 15px;
    }

}

input {
    text-align: center;
    font-family: monospace;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: rgb(107, 104, 104);
    margin-bottom: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container-fluid {
    margin-bottom: 25px;
}
#btn1, #btn2 {
    font-size: 24px;
}